{% layout/layout.tpl %}
{= pageTitle: Liens =}

{{head
<meta name="description" content="Quelques liens alternatifs sur CookieCatch" />
head}}

{{content
<h1>Liens &amp; Partenaires</h1>
<a href="http://sereth.nerdbox.fr/">Hébergeur du site web<a/><br />
<a href="http://www.nerdbox.fr/">Webradio à thème geek<a/><br />
<a href="http://www.reblochon.fr/">Le reblochon de Savoie AOC<a/><br />
<a href="http://www.nyan.cat/">How long have you NYANED for?<a/><br />
<a href="http://www.lamas-alpagas.org/">L'association française lamas et alpagas<a/><br />
<a href="http://fr.wikipedia.org/wiki/Ninja">Les ninjas sont tellement bien cachés qu'on a trouvé qu'un lien Wikipédia<a/><br />
content}}