{% layout/layout.tpl %}
{= pageTitle: {$user.Username} =}
{{content
<section id="content">
	<h1>{$user.Username} (des {$user.FactionName})</h1>
	<img src="{$user.Avatar}" alt="{$user.Username}" /><br /><br /><br />
	
	<a href="{$MPUrl}" class="globalbutton">Envoyer un message privé</a>
	
	?$FriendUrl &nbsp;<a href="{$FriendUrl}" class="globalbutton">Ajouter en ami</a> $FriendUrl?

	?$lienEdit &nbsp;<a href="{$lienEdit}" class="globalbutton">Editer profil</a> $lienEdit?

	<br /><br />
	<h3>Évents où {$user.Username} est inscrit</h3>
	[$eventSubs]
	<a href="{$Url}">Titre : {$Titre}</a><br />
	Prévu pour le {formatDateTime:EventDate}<br />
	@empty@
	Aucun évenement trouvé
	[/$eventSubs]

	<h3>Évents crées par {$user.Username}</h3>
	[$eventOrg]
	<a href="{$Url}">Titre : {$Titre}</a><br />
	Prévu pour le {formatDateTime:EventDate}<br />
	@empty@
	Aucun évenement trouvé
	[/$eventOrg]
</section>
content}}