<?php
/**
 * Configuration class for the website
 **/
class Config {
    public static $debug = true;

    public static  $dbInfo = array(
        'driver' => 'mysql:host=localhost:3311;dbname=afk',
        'username' => 'root',
        'password' => 'root'
    );

    public static $app = array(
        'hostname' => 'localhost',
        'baseurl' => '',
    );

    public static $listing = array(
        'usersPerPage' => 25
    );

    public static $path = array(
        'views' => 'app/view/',
        'controller' => 'app/controller/',
        'model' => 'app/model/',
        'pm' => 'user/pm'
    );
}