@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-left: 70px;
	margin-right: 70px;
	margin: 0;
	background-color: #EDEDED;
	background-image: url(../img/bg.png);
}

#content {
	margin-bottom: 100px;
}

#shadowing {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #CCA;
  z-index: 10;
  opacity: 0.5;
}

#box {
  display: none;
  position:fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  max-height:400px;
  padding: 0;
  margin:0;
  border: 1px solid black;
  background-color: white;
  z-index:11;
  overflow: auto;
}


/* Profil */
#content #profile {
	width: 100%;
	height: 300px;
	margin-top: 30px;
	background-color: #EFF;
}

#profile .thumbnail {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  margin-left: 80px;
}

#profile .thumbnail img {
	border-radius: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	  -ms-transform: translate(-50%,-50%);
	      transform: translate(-50%,-50%);
}

.pblock {
	display: flex;
	width: 100%;
	height: 150px;
	margin-top: 40px;
	background-color: #DFF;
}

.pblock div {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}

.pblock #title {
	flex: 1;
	text-align: left;
	vertical-align: middle;
	font-size: 3em;
	margin-left: 20px;
	min-width: 4.5em;
}

#title a:link, #title a:visited, #title a:hover, #title a:active {
	text-decoration: none;
	color: inherit;
}

.pblock #content {
	flex: 3;
	display: inline-block;
	width: 200px;
	background-color: #AFF;
	display: flex;
}

.pblock #content div {
	flex: 2;
	margin-left: 10px;
	margin-right: 10px;
}


#content h1 {
	font-size: 40px;
	text-shadow: 0px 0px 0 rgba(0,0,0,0.05);
	transition: 0.5s box-shadow;
}

#content h1:hover {
	text-shadow: -5px 5px 0 rgba(0,0,0,0.05);
}

.inscription {
	margin-top: 30px;
}

#content #description {
	font-size: 20px;
}

#cookies { 
	margin-top: 40px;
}

#cookies div {
	display: inline-block;

	margin-left: 2%;
	margin-right: 2%;

	background-color: #DDD;
	/*width: 20vh;*/
	/*height: 20vh;*/
	padding: 25px;

	/*-moz-border-radius: 100%;*/
	/*border-radius: 100%;*/

	box-shadow: 0 0 0 rgba(0,0,0,0.05);
	transition: 0.5s box-shadow;
}

#cookies div:hover {
	box-shadow: -10px 10px 0 rgba(0,0,0,0.05);
}

#cookies div a {
	/*line-height: 10vh;*/
	text-decoration: none;
	color: black;
}

#cookies div {
	width: 154px;
}

#cookies div #cookies {
	font-size: 50px;
}

#cookies #lamas {
	background: url(../img/lam.png);
	background-repeat: no-repeat;
}

#cookies #ninjas {
	background-image: url(../img/nin.jpg);
	background-repeat: no-repeat;
}

#cookies #reblochon {
	background-image: url(../img/reb.gif);
}

#cookies #nyancat {
	background-image: url(../img/nya.png);
	background-position: center;
}

/*#cookies div {
	display: inline-block;

	margin-left: 2%;
	margin-right: 2%;

	background-color: #DDD;
	width: 26vh;
	//height: 26vh;
	//width: 150px;
	height: 150px;

	-moz-border-radius: 100%;
	border-radius: 100%;
}

#cookies * span {
    vertical-align:middle;
}

*/

#users { display: inline-block; margin-top: 70px; margin-bottom: 20px; }

#users a {
	width: 150px;
	margin-right: 13px;
	margin-left: 13px;
}

#menu {
	background: #67FFA9;
	padding-top: 8px;
	padding-bottom: 5px;
	border-bottom: 3px solid #5CE598;
	transition: 0.5s box-shadow;	
	box-shadow: 0px 0px 0 rgba(0,0,0,0.05);
}

#menu:hover {
	box-shadow: 0px 10px 0 rgba(0,0,0,0.05);
}

#menu a {
	text-decoration: none;
	color: black;
}

.animate {
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button {
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.blue {
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red {
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green {
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow {
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active {
	transform: translate(0px,5px);
	-webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}


/* Connexion */
#connect {
	font-size: 40px;
}

.globalbutton {
	background-color: #a8a8a8;
	border: 0;
	font-size: 18px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline: none;
	color: inherit;
	text-decoration: inherit;
}

#connect input {
	font-size: 40px;
	margin-bottom: 60px;
	text-align: center;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: solid 1px #000;
}

#connect #links {
	margin-top: 30px;
	font-size: 25px;
}

/* Admin */
table .avatar {
	height: 30px;
}

/* Footer */
footer {
	box-shadow: 0 -5px 0 rgba(191, 191, 151, 0.3);

	color: #593150;
	min-height: 60px;

	background-color: #FFFFC9;

	position: fixed;
	bottom: 0;

	width: 100%;
}

footer a {
	color: inherit;
	text-decoration: none;
}