{% layout/layout.tpl %}

{{content
<form action="{$formAction}" method="POST">
titre <input type="text" name="title" /><br />

type <select name="type">
[$eventTypes]
    <option value="{$Id}">{$TypeName}</option>
[/$eventTypes]
</select><br />
description <textarea name="description"></textarea><br />
lien vers image optionnelle <input name="image" type="text" /><br />
lieu <input name="place" type="text" /><br />
date <input type="text" name="date" value="2015-06-30" /> (année-mois-jour)<br />
heure <input type="text" name="heure" value="15:00:00" /> (heure:minute:seconde)<br />
<input type="submit" />
</form>
content}}