{% layout/layout.tpl %}
{= pageTitle: Liste des évenements =}
{{content
<section id="content">
<h1>Événements</h1>
<a href="{$layout.createEventsLink}" class="globalbutton">Créer un évenementt</a><br /><br /><br />
[$events]
<a href="{$Url}">{$Titre}</a><br />
{br:Description}<br />
Prévu pour le {formatDateTime:EventDate}<br />
Récompense : {$Reward} cookies<br />
<br />
@empty@
Pas d'évenements trouvés, pourquoi ne pas...<br />
[/$events]
[[_empty
   {% comp/pagination.tpl %}
   {= baseLink: "?action=events&amp;p=" =}
_empty]]
</section>
content}}