{% layout/layout.tpl %}
{= pageTitle: "Voir un évenement" =}
{{content
<h2>{$event.Titre}</h2><br />
?$event.Image <img src="{$event.Image}" /><br /> $event.Image?
{br:event.Description}<br />
Lieu : {$event.Place}<br />
Prévu pour le {formatDateTime:event.EventDate}<br />
Posté le {formatDateTime:event.PostDate}<br />
Récompense : {$event.Reward} cookies<br />
<br />
{?({$event.Subscribed} == 0)?}
<a href="{$subLink}">S'inscrire</a>
@else@
<a href="{$unsubLink}">Se désinscrire</a>
{/?}
?$editLink <a href="{$editLink}">Éditer</a> $editLink?
content}}